
@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container my-5">
    <h1 class="mb-4 text-center">Welcome to Purrfect Blog</h1>
    <div class="row row-cols-1 row-cols-md-3 g-4">
        DASHBOARD
    </div>
</div>